langchain
langchain-core
langchain-community
langchain-mistralai
langgraph
mistralai
python-dotenv
faiss-cpu
fastapi
uvicorn
requests
langchain_huggingface
transformers
torch
accelerate
sentence-transformers
streamlit

